.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center; /*não é o flex box e justify content para centralizar texto na vertial, um em cima do outro, e sim o text align, justify colocaria um do lado do outro*/
    padding: 2.5em 2em;
}

.banner__titulo {
    font-family: var(--font-principal);
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-family: var(--font-principal);
    font-weight: 400;
    margin: 1em 0; /*1em tanto em cima quanto em baixo e 0 dos lados*/
    
}

.banner__search {
    background-color: transparent; /*para ficar transparente(com a mesma cor de fundo)*/
    border: 1px solid var(--branco); /*criar a borda, primeiro valor = grossura da borda, segundo = uma linha como borda/podia ser tracejado, terceiro = cor da borda */
    color: var(--branco); /*cor de quando digitar*/
    border-radius: 24px; /*arredondar as bordas*/
    padding: 1em; /*espaçando em cima e dos lados*/
    width: 100%; /*e ajustando a largura*/
    
}

/*placeholder pq faz referência a:<input type="search" class="banner__search" placeholder="Qual será sua próxima leitura?">*/
/*ou seja, ao elemento placeholder dentro da classe banner__search*/
.banner__search::placeholder {
    font-family: var(--font-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--branco);
    background: url("../images/Pesquisa.svg") no-repeat; /*adicionando a imagem e coocando no repaet para não repetir em sequencia a imagem*/
    background-position: 0.5em; /*ajustando a posição da lupa*/
    text-align: center;
}

@media screen and (min-width: 1024px) {

    .banner {
        padding: 5.5em em;
    }
    
    .banner__titulo {
        font-size: 36px;
    }

    .banner__texto {
        font-size: 16px;
        padding: 1.1em 0;
    }

    .banner__search::placeholder {
        font-size: 16px;
        background-position: 4em;
    }

    .banner__search {
        width: 50%;
        padding: 1.5em 0;
    }

    
}

@media screen and (min-width: 1728px){

    .banner {
        padding: 6em 0;
    }

    .banner__search {
        width: 33%;
    }

    .banner__search::placeholder {
        font-size: 16px;
        background-position: 8em;
        align-items: center;
    } 

}

