.cabecalho__menu-hamburguer {
    width:40px; /* largura */
    height: 40px; /* tamanho */
    background-image: url("../images/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block; /* para posicionar a imagem em linha e bloco, a imagem é um menu hamburguer */
}

/* dentro do cabecalho tem duas tags filho, duas divs */
/* então quando eu aplico o display flex e space between na tag pai, ele separa as tags filhas, as duas divs, com um espaço no meio */
/* pense no cabeçalho como uma grande caixa, as divs como duas caixas dentro da caixa, o display flex mep ermite mexer nessas caixas */
/* e então coloquei um espaço entre ambasyuhhhhhhhhhhhhhhhh                                                                                                   c */
.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*significa que cria um contexto de posicionamento, continuara utilizando o mesmo espaço de antes*/
    /*porém agora pode usar coordenadas para ajustar a posição, nesse caso do elemento pai*/
    /*e graças a isso, os elementos filhos podem utilizar o position:absolute e então posicionar os elementos com top, left etc*/
    /*em outras palavras, é o que permite adicionar left, bottom, top etc*/
    position: relative;
}


/*o seletor inteiro está dizendo: “Quando o .container__botao estiver marcado, aplique estilos ao .cabecalho__menu-hamburguer 
que é um filho direto de .container__rotulo, que por sua vez é um irmão geral do .container__botao marcado*/
.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("/images/Menu\ Aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 0.4em;
}

.lista-menu {
    display: none; /* display: none = desaparece com os elementos, inicialmente oculta os elementos, nesse caso os itens da lista */
    position: absolute;
    top: 100%;
    width: 70vw; /*propriedade aplicada na lista, não nos itens da lista, na lista, para aumentar o background/largura, o fundo branco*/
}

/* quando o checkbox estiver como checked, alterará  display da lista para block, mostrando assim os itens */
/* acento tio = combinador css */
.container__botao:checked ~ .lista-menu {  /* selecionando a classe do input checkbox, verificando se está checked, tio, para selecionar outra classe, então selecionando da lista e mostrando os itens*/
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em; /*padding, além do espaçamento, permite colocar a cor de fundo graças ao espaçamento interno, que foi branco*/
    background-color: var(--branco);
    font-family: var(--font-principal);
    font-size: 16px;
    
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    /*as fontes e cores degrade é um copia e cola do figma*/
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    text-transform: uppercase; /*letra maiúscula*/
}

.container__botao {
    display: none; /*sumindo com o botão de checkbox*/
}

.container__titulo {
    display: none;
}

.opções {
    display: none;
}

.container__ancora {
    display: block;
}
.container__texto {
    display: none;
}



/*media query e min e não max, porque é mobile first*/
@media screen and (min-width: 1024px) {

    .container__titulo, .container__titulo--negrito {
        font-family: var(--font-secundaria);
        font-size: 30px;
        margin-top: 0.5em;
    }

    .container__ancora {
        display: block;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        font-family: var(--font-principal);
    }

    .opções__item {
        padding: 0 1em;
    }

    .opções__link {
        text-decoration: none;
        color: var(--preto-principal);
        
    }

    .opções__botao:checked ~ .opções__rotulo > .opções__item {
        background: var(--azul-degrade);
        color: var(--branco);
        

    }

    .opções__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }


    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer  {
        display: none;
    }

    .container__imagem {
        padding: 0 0.5em 0 2em;
    }

    .cabecalho {
        padding: 1em 0;
    }

    .opções__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opções__botao {
        display: none;
    }

    .container__texto {
        display: none;
    }

}

@media screen and (min-width:1728px) {

    .container__ancora {
        text-decoration: none; 
        display: flex;
        align-items: center;
        
        color: var(--preto-principal);
    }

    .container__texto {
        display: block;
        font-size: 20px;
        font-family: var(--font-principal);
        font-weight: 400;
    }

    .cabecalho {
        padding: 1em 5em 1em 2em;
    }

    .opções {
        margin-right: auto;
        margin-top: 1em;
        margin-left: 1em;
    }
}


