.cabecalho__menu-hamburguer {
    width:40px;     height: 40px;     background-image: url("../images/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block; }

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
                    position: relative;
}


.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("/images/Menu\ Aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 0.4em;
}

.lista-menu {
    display: none;     position: absolute;
    top: 100%;
    width: 70vw; }

.container__botao:checked ~ .lista-menu {      display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;     background-color: var(--branco);
    font-family: var(--font-principal);
    font-size: 16px;
    
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
        background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    text-transform: uppercase; }

.container__botao {
    display: none; }

.container__titulo {
    display: none;
}

.opções {
    display: none;
}

.container__ancora {
    display: block;
}
.container__texto {
    display: none;
}



@media screen and (min-width: 1024px) {

    .container__titulo, .container__titulo--negrito {
        font-family: var(--font-secundaria);
        font-size: 30px;
        margin-top: 0.5em;
    }

    .container__ancora {
        display: block;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        font-family: var(--font-principal);
    }

    .opções__item {
        padding: 0 1em;
    }

    .opções__link {
        text-decoration: none;
        color: var(--preto-principal);
        
    }

    .opções__botao:checked ~ .opções__rotulo > .opções__item {
        background: var(--azul-degrade);
        color: var(--branco);
        

    }

    .opções__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }


    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer  {
        display: none;
    }

    .container__imagem {
        padding: 0 0.5em 0 2em;
    }

    .cabecalho {
        padding: 1em 0;
    }

    .opções__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opções__botao {
        display: none;
    }

    .container__texto {
        display: none;
    }

}

@media screen and (min-width:1728px) {

    .container__ancora {
        text-decoration: none; 
        display: flex;
        align-items: center;
        
        color: var(--preto-principal);
    }

    .container__texto {
        display: block;
        font-size: 20px;
        font-family: var(--font-principal);
        font-weight: 400;
    }

    .cabecalho {
        padding: 1em 5em 1em 2em;
    }

    .opções {
        margin-right: auto;
        margin-top: 1em;
        margin-left: 1em;
    }
}


